{% extends "base_menu.html" %}
{% load static %}

{% block head %}

<style>
  .btn-primary.pull-right {
    margin: 16px 8px;
  }
</style>
{% endblock %}

{% block content %}

<div class="page-header">
  <h1>Category Pages <small>What do you want to review?</small></h1>
</div>

<button class="btn btn-primary pull-right">Scrape all</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Category Name</th>
      <th>Wikipedia Url</th>
      <th>Column Number</th>
      <th>Page Type</th>
      <th style="text-align: center;">scrape</th>
    </tr>
  </thead>
  <tbody>
  {% for page in pages %}
    <tr>
      <td>{{page.name}}</td>
      <td><a href="{{page.url}}" target="_blank">{{page.uri}}</a></td>
      
      <td>{{page.column}}</td>
      <td>{{page.type}}</td>
      <td style="text-align: center;">
        <form action="" method="POST">
          <a class="scrape-one" href="{% url 'review:test' page.id %}">
            <i class="fa fa-scroll" aria-hidden="true"></i>
          </a>
        </form>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<h2>Add Another category pages</h2>
{% load crispy_forms_tags %}
<form method="POST" action="">
  {% csrf_token %}
  {{ form|crispy }}
  <input type="submit" value="Save">
</form>


<script>
  $('scrape-one').click(function () {
    $.ajax({
      url: `scrape_cat/${$(this).attr('id')}`,
      type: "POST",
      success: function(data) {
        alert('success')
      }
    })
  })
</script>
{% endblock %}
