{% extends "base_menu.html" %}

{% block head %}
<style>
  .media-object {
    width: 70px;
  }
  .img-rounded {
    float:left; 
    margin-right:16px;
    width: 100%;
  }
  .description {
    width: 100%;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
{% endblock %}

{% block content %}

<div class="container-fluid">


  <div class="row">

    <!-- Metadata -->
    <div class="col-xs-6">

      <div class="thumbnail">
        <img src="{{food.img_src}}" alt="{{food.name}}">
        <div class="caption">
          <h1>{{food.name}}</h1>
          <p><a href="{{food.wiki_url}}" target="_blank">Scraped from this Wikipedia page</a>.</p>
          <p>{{ food.description }}</p>

                <!-- Categories -->
          <h4>Categories</h4>
          <ul class="list-group">
            {% for category in food.categories.all %}
              <li class="list-group-item">
                {{category.name}}
                <!-- <a href="{% url 'review:review_landing'%}"><i class="fa fa-trash"></i></a> -->
              </li>
            {% endfor %}
          </ul>
          
          {% if user.is_authenticated %}
          <p><a class="btn btn-primary" href="{% url 'review:food_metadata' food.id %}">Edit Metadata</a></p>
          {% endif %}

        </div>
      </div>

    
    </div>

    <div class="col-xs-6">

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Property</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>FDC Id</td>
            <td>{{usda.fdc_id}}</td>
          </tr>
          <tr>
            <td>Data Source</td>
            <td>{{usda.dataType}}</td>
          </tr>
        </tbody>
      </table>

      <br>
      <h4>Key Nutrition Data Points</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nutrient</th>
            <th>Value per 100g</th>
          </tr>
        </thead>
        <tbody>
          {% for foodNutrient in foodNutrients %}
          <tr>
            <td>{{foodNutrient.nutrient.name}}</td>
            <td>{{foodNutrient.amount}} {{foodNutrient.nutrient.unitName}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
    </div>
  </div>
</div>
{% endblock %}
